# Python Operators â€“ Arithmetic & Relational

This notebook covers the fundamentals of operators in Python, focusing on two main categories: Arithmetic Operators and Relational Operators. Operators are special symbols in Python that perform operations on variables and values.

# **ðŸ”¹ What is an Operator in Python?**

An operator is just a symbol or keyword that performs an operation on one or more values (called operands).

# **ðŸ”¹ Types of Operators in Python**

Python has 7 main categories of operators:

1. Arithematics Operator
2. comparitive/relatioanal operator
3. assignment operator
4. logical operator
5. bitwise opearotr
6. associate operator
7. membership operator

# **1. Arithmetic Operators (Math stuff)**

Used for basic mathematical operations:

'+' â†’ Addition

'-' â†’ Subtraction

'*' â†’ Multiplication

/ â†’ Division (gives float always)

// â†’ Floor Division (gives integer part only)

% â†’ Modulus (remainder)

** â†’ Exponentiation (power)

In [6]:
# examples

num1 = 45
num2 = 54
num3 = 56

In [7]:
# addition
add = num1+num2
print(add) # print() function used to display the value

99

In [9]:
# subtraction
sub = num2-num3
print(sub)

-2

In [12]:
# multipication
mul = sub*add
print(mul)

-198

In [13]:
# divison
num1/num2

0.8333333333333334

In [15]:
# modulo returns the reminder 45/54
num1%num2

45

In [16]:
# floor return the int of quotient 45/54
num1//num2

0

In [18]:
# exponential 45 to the power of 2
num1**2

2025

**for string data type  (string is a basic or also called as collection datatype in which the values are stored under ' '," ","""  """,'''  ''') any values alphanumeirc and special symbols**
 1. concatenation (combination of string and string)
 2. repetation (combination of string and integer)

In [20]:
# 1. concatenation
string1 = 'Nitish'
string2 = ' Kumar'
string1 + string2

'Nitish Kumar'

In [23]:
# Repetation
string1*2

'NitishNitish'

# 2. Comparison (Relational) Operators

Used to compare values (result is always True or False).

== â†’ equal to

!= â†’ not equal

'>' â†’ greater than

< â†’ less than

'>=' â†’ greater than or equal to

<= â†’ less than or equal to

In [26]:
# examples

num1 = 45
num2 = 54
num3 = 56

In [25]:
# equal to (45 == 54)
num1 == num2

False

In [27]:
# not equal to
num1 != num3

True

In [28]:
# greater than
num1 > num2

False

In [29]:
# less than
num1 < num2

True

In [33]:
# greater than equal to
num1 >= num3

False

In [32]:
# lessthan equal to
num1 <= num2

True

# For string data relaional operatora uses the Ascii values of the character

ðŸ”¹ What is ASCII?

ASCII = American Standard Code for Information Interchange.

It assigns a number (0â€“127) to each character (letters, digits, symbols, control chars).

Example:

'A' â†’ 65

'a' â†’ 97

'0' â†’ 48

' ' (space) â†’ 32

So every character has a unique numeric code.

# But how do they compare?
ðŸ‘‰ They use ASCII/Unicode values of characters, compared lexicographically (like a dictionary order).

# How it works internally

Compare first character of each string.

If theyâ€™re equal, move to the next character.

Stops when a difference is found (or end of string).

In [41]:
# example
print("abc" < "abd")   # True (first 2 same, 'c'(99) < 'd'(100))
print("abc" < "ab")    # False ('abc' longer than 'ab')

True
False

In [34]:
#example
string1

'Nitish'

In [36]:
# string2
string2

' Kumar'

In [37]:
string1 == string2

False

In [38]:
string1 < string2

False

In [39]:
string1 > string2

True

# **ASCII VALUES:**

1. **Lowercase letters (aâ€“z)**
2. **Uppercase letters (Aâ€“Z)**
3. **Digits (0â€“9)**
4. **Special characters**

Hereâ€™s the table in that exact structure:

---

## ðŸ”¹ ASCII Table (Grouped)

### âœ… Lowercase Letters (aâ€“z)

| Char | ASCII | Char | ASCII | Char | ASCII | Char | ASCII |
| ---- | ----- | ---- | ----- | ---- | ----- | ---- | ----- |
| a    | 97    | h    | 104   | o    | 111   | v    | 118   |
| b    | 98    | i    | 105   | p    | 112   | w    | 119   |
| c    | 99    | j    | 106   | q    | 113   | x    | 120   |
| d    | 100   | k    | 107   | r    | 114   | y    | 121   |
| e    | 101   | l    | 108   | s    | 115   | z    | 122   |
| f    | 102   | m    | 109   | t    | 116   |      |       |
| g    | 103   | n    | 110   | u    | 117   |      |       |

---

### âœ… Uppercase Letters (Aâ€“Z)

| Char | ASCII | Char | ASCII | Char | ASCII | Char | ASCII |
| ---- | ----- | ---- | ----- | ---- | ----- | ---- | ----- |
| A    | 65    | H    | 72    | O    | 79    | V    | 86    |
| B    | 66    | I    | 73    | P    | 80    | W    | 87    |
| C    | 67    | J    | 74    | Q    | 81    | X    | 88    |
| D    | 68    | K    | 75    | R    | 82    | Y    | 89    |
| E    | 69    | L    | 76    | S    | 83    | Z    | 90    |
| F    | 70    | M    | 77    | T    | 84    |      |       |
| G    | 71    | N    | 78    | U    | 85    |      |       |

---

### âœ… Digits (0â€“9)

| Char | ASCII | Char | ASCII | Char | ASCII | Char | ASCII |
| ---- | ----- | ---- | ----- | ---- | ----- | ---- | ----- |
| 0    | 48    | 3    | 51    | 6    | 54    | 9    | 57    |
| 1    | 49    | 4    | 52    | 7    | 55    |      |       |
| 2    | 50    | 5    | 53    | 8    | 56    |      |       |

---

### âœ… Special Characters

| Char    | ASCII | Char | ASCII | Char | ASCII | Char | ASCII |     |
| ------- | ----- | ---- | ----- | ---- | ----- | ---- | ----- | --- |
| (space) | 32    | /    | 47    | :    | 58    | ?    | 63    |     |
| !       | 33    | @    | 64    | ;    | 59    | \[   | 91    |     |
| "       | 34    | \[   | 91    | <    | 60    | \\   | 92    |     |
| #       | 35    | \\   | 92    | =    | 61    | ]    | 93    |     |
| \$      | 36    | ]    | 93    | >    | 62    | ^    | 94    |     |
| %       | 37    | ^    | 94    | \`   | 96    | {    | 123   |     |
| &       | 38    | \_   | 95    | {    | 123   |      |       | 124 |
| '       | 39    | \`   | 96    |      |       | 124  | }     | 125 |
| (       | 40    | {    | 123   | }    | 125   | \~   | 126   |     |
| )       | 41    | }    | 125   | \~   | 126   |      |       |     |
| \*      | 42    |      |       |      |       |      |       |     |
| +       | 43    |      |       |      |       |      |       |     |
| ,       | 44    |      |       |      |       |      |       |     |
| -       | 45    |      |       |      |       |      |       |     |
| .       | 46    |      |       |      |       |      |       |     |

---

To find the value of charcted:
# ord()

To find the character for the value:
# chr()

In [42]:
ord('A')

65

In [43]:
chr(65)

'A'